*,::after,::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width:100vw ;
    overflow: hidden;
    
}

:root{
    --main-theme:rgb(255, 1, 107);
}


.all{
height: 100%;
width: 100%;
overflow: hidden;
background-color: rgba(246, 246, 246, 0.516);

display: flex;
flex-direction: column;
align-items: center;
justify-content: space-evenly;

font-family: Poppins;
position: relative;

}

  
.top{
   display: grid;
   grid-template-columns:repeat(3,1fr);
   gap:40px;
   margin-bottom: 25px;
}


.links{
    grid-column:3;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}


.links button{
    background-color: rgba(232, 232, 232, 0.402);
   text-decoration: none;
   width: 130px;
   height: 35px;
display: flex;
align-items: center;
padding: 5px 20px;
border: 1px solid;
box-shadow: 1px 1px 2.4px 0 rgba(64, 64, 64, 0.311), 0 2px 6px 0 rgba(101, 101, 101, 0.36);
border-radius: 5px;
cursor: pointer;
border: none;
justify-content: center;
margin:5px;

}




.top button i{
    margin-right: 5px;
    font-size: 1.3rem;
}

.top button:hover{
    outline: rgba(0, 0, 0, 0.743) solid 2px;
    background-color: rgb(255, 255, 255);
    box-shadow: none;
}

.top h1{
    grid-column: 2;
    text-align: center;
    font-size: 3rem;
    background-clip: text;
    color: transparent;
    background:linear-gradient(-20deg,#000000 50%,#6e6e6e);
    -webkit-background-clip: text;
    background-clip: text;
    margin-right: 10px;
}


.main{
   height:450px;
   width: 600px;
   background-color: rgba(232, 232, 232, 0.402);
   border-radius: 20px;
   border-bottom-right-radius:100px;
   box-shadow: 0 0 1px 0 rgba(64, 64, 64, 0.411), 0 6px 12px 0 rgba(101, 101, 101, 0.46);
   display: grid;
   grid-template-columns: repeat(4,1fr);
   padding: 30px;
   position: relative;
 
}
.main .display{
grid-column: 1/5;
}



.main input{
 width: 120px;
 height: 45px;
padding-inline-start: 10px;
font-size: 20px;
font-weight:800;
border: none;
border-radius: 5px;
margin-top: 5px;
outline: 0.5px solid rgba(0, 0, 0, 0.249);
transition: 0.2 s ease-out;

}

.main input:focus{
border: 2px solid  greenyellow;
}


.days,.month,.year{
font-size: 16px;




}

.submit{
   grid-column: 4;
   grid-row: 1/3;
   position: absolute;
   top: 20%;
   left: 42%;

}

.submit button{
    position: absolute;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    margin-bottom: 100px;
    border: none;
    background-color: var(--main-theme);
cursor: pointer;
transition: all 0.3s ease;
}


.submit button:hover{
    transform: translateY(10px);
    background-color: black;
}

.display{
font-weight: 700;
font-style: italic;
font-size: 3.2rem;
}

.agee{
    color: var(--main-theme);
}

@media screen and (max-width:675px){
.main{
height: 425px;
width: 400px;
}  
.top{
    gap:15px;
    margin-bottom: 25px;
 }
 .top h1{
    font-size: 2.5rem;
   margin-right: 8px;
}
.links{
    flex-direction: column;
}
.submit{
    grid-column: 3;

 }
   .submit button{
            height: 70px;
            width: 70px;
            top: 20%;
            left: 42%;
         }
         .display{
            font-size: 2.8rem;
            }
            .main input{
                width: 70px; 
               }
}


@media screen and (max-width:375px) {
    .links{
        flex-direction: column;
    }
    
    
    .links button{
       width: 120px;
       height: 30px;
    padding: 5px 18px;
    }
    .main{
        height:450px;
        width: 300px;
        background-color: rgba(232, 232, 232, 0.402);
        border-radius: 20px;
        border-bottom-right-radius:100px;
        box-shadow: 0 0 1px 0 rgba(64, 64, 64, 0.411), 0 6px 12px 0 rgba(101, 101, 101, 0.46);
        display: grid;
        grid-template-columns: repeat(4,1fr);
        padding: 10px;
        position: relative; 
    }

    .top{
        display: grid;
        grid-template-columns:repeat(2,1fr);
        gap:10px;
        margin-bottom: 25px;
     }

    .top h1{
        font-size: 1.7rem;
       margin-right: 5px;
    }
    .display{
        font-size: 2.5rem;
        }
        .submit{
            grid-column: 1;
         }

         .submit button{
            height: 65px;
            width: 65px;
            top: 20%;
            left: 42%;
         }

         .main input{
            width: 60px; 
            padding-inline-start: 5px;
           }


}

.days-err,.month-err,.year-err{
  display: none;
   color: red;
   font-size: 10px;
    margin-right: 1px;
    padding-top: 5px;
}

